---
---
@charset "utf-8";

$font-family: Lora, helvetica;
$base-font-size: 1rem;

$extra-light-gray: #eee;
$light-gray: #ccc;
$medium-gray: #666;
$dark-gray: #333;
$brand: #4d8afa;
$brand-comp: #fabd4d;

$tablet: 768px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"mixins",
		"base",
		"components",
		"syntax-highlighting"
;