<section id="about" class="container content-section text-center">
    <h1>About</h1>
    <p class="big-paragraph">
        angular_init (called <code>ngi</code>) creates AngularJS templates for you from the command line <strong>so you don't have to type the same starting code over and over again</strong>. It's a tool with just one purpose, so it's small and fast.
    </p>
    <p class="big-paragraph">
        …
    </p>
    <p class="big-paragraph">
        Most developers are probably using the command line anyways in their normal workflow, so why not also create AngularJS code from the command line?
    </p>
</section>