<section id="contact">
  <h1>Contact</h1>

  <p class="big-paragraph">
    My name is Josh Beam. Here's my <a href="{{ site.url }}">website</a>.
  </p>

  <p class="big-paragraph">
    Questions, issues, feature requests?
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  </p>

  <ul class="inline-list" id="social-media">
      {% for network in site.social %}
      <li>
          <a href="{{ network.url }}">
            <i class="fa fa-{{ network.title }} fa-fw"></i>
            <span class="network-name">{{ network.title | remove: '-' }}</span>
          </a>
      </li>
      {% endfor %}
  </ul>
</section>