    <!-- Download Section -->
    <section class="content-section text-center">
        <div id="install" class="download-section">
            <div class="container">
                <h1>Install</h1>
                <div class="col-lg-5">
                    <h2>GitHub</h2>
                    <p>
                        Head over to the repo for in-depth instructions.
                    </p>
                    <a href="https://github.com/joshbeam/angular_init#installation-in-2-steps" class="btn btn-default btn-lg">Installation (in 2 steps) &raquo;</a>
                </div>
                <div class="col-lg-7">
                    <h2>Terminal</h2>
                    <p>
                        Make sure you're in your top-level directory (in Mac, that'll be <code>/</code>, and Windows <code>C:</code>)
                    </p>
                    {% highlight bash %}$ git clone https://github.com/joshbeam/angular_init.git usr/local/ngi{% endhighlight %}
                    <br>
                    {% highlight bash %}$ 'export PATH="/usr/local/ngi/bin:$PATH"' >> ~/.bash_profile{% endhighlight %}
                    <br>
                    <h3>Permission error?</h3>
                    <pre>/ $ cd usr/local/ngi/bin
                        <br>
/usr/local/ngi/bin $ chmod 755 ngi</pre>
                </div>
            </div>
        </div>
    </section>