<section id="install">
    <h1>Install</h1>

    <p class="big-paragraph">
        You need <a href="https://www.ruby-lang.org/en/downloads/">Ruby 2.1</a> and <a href="https://rubygems.org/pages/download">RubyGems <span id="gem-couter"></span></a> (optional <a href="http://bundler.io/">Bundler</a>)
    </p>

{% highlight ruby %}
# add to your app's Gemfile

gem 'ngi'
{% endhighlight %}

{% highlight bash %}
# then execute:

$ bundle
{% endhighlight %}

{% highlight bash %}
# or install it yourself, as:

$ gem install ngi
{% endhighlight %}

  <p class="big-paragraph">
    <a href="https://github.com/joshbeam/angular_init">GitHub</a>
  </p>

    <a href="http://badge.fury.io/rb/ngi"><img src="https://badge.fury.io/rb/ngi.svg" alt="Gem Version" height="18"></a>
</section>