<section id="use">
  <h1>Use</h1>
{% highlight bash %}
~/MyAwesomeApp $ ngi controller # => controller
~/MyAwesomeApp $ ngi directive # => directive
~/MyAwesomeApp $ ngi factory # => factory
~/MyAwesomeApp $ ngi service # => service (same as factory)
~/MyAwesomeApp $ ngi constant # => constant
~/MyAwesomeApp $ ngi run # => a run block
~/MyAwesomeApp $ ngi config # => a config block
~/MyAwesomeApp $ ngi routes # => a config block with $routeProvider injected
~/MyAwesomeApp $ ngi module # => module (you can inject dependencies too)
~/MyAwesomeApp $ ngi filter # => filter

# or

~/MyAwesomeApp $ ngi index # => an index page in HTML

# or

# use either --options or -o
~/MyAwesomeApp $ ngi --options # => choose your language to use (CoffeeScript or ECMAScript5)
{% endhighlight %}
  <p class="big-paragraph">
    By default, ngi uses default templates that follow <a href="https://github.com/johnpapa/angular-styleguide">John Papa's AngularJS style guide</a>.
  </p>
  <p class="big-paragraph">
    You can also use your own custom templates. Check out the <a href="https://github.com/joshbeam/angular_init/blob/master/TUTORIAL.md">tutorial on ngi's GitHub page</a>.
  </p>
</section>